*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p,hr,ul,ol,li{
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(../image/bg.JPG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

header nav {
  /* background-color: #284b63 !important; */
  background: transparent;
}
.navbar-brand{
  font-weight: bolder;
  font-size: 25px;
  width: 90px;
  text-align: center;
  border-radius: 4px;
  /* height: 10px; */
}
.navbar-brand:hover{
  color: black !important;
  background-color: cornflowerblue;

}

.box{
  border: 1px solid #284b63;
  border-radius: 5px;
  height: 95px;
}
#Input{
  background: transparent;
  color: rgb(18, 17, 17);
  font-weight: bold;
}
#orignal{
  /* background-color: #284b63; */
  color: rgb(16, 15, 15);
  font-size: 22px;
  word-spacing: 5px;
}

p{
  margin-bottom: 0;
}

main{
  flex-grow: 1;
}
.button{
  border: 1px solid #284b63;
  border-radius: 5px;
  padding: 10px 0px;
}
.button button{
  width: 240px;
  margin: 10px 3px;
}
#output{
  border: 1px solid #284b63;
  border-radius: 5px;
  min-height: 244.58px;
  color: rgb(180, 55, 55);
  font-size: 20px;
}
h3{
  margin: 10px 0;
  color: rgb(29, 3, 3);
}
span{
  color: rgb(255, 0, 0);
  font-size: 20px;
  padding: 10px;
  margin-left: auto;
}
footer{
  font-size: 20px;
  margin: 5px;
      } 
